# New York City's Energy Consumption Time Series Modelling using Auto Arima

## Checking Fbprophet

In [6]:
pip show fbprophet

Name: fbprophet
Version: 0.7.1
Summary: Automatic Forecasting Procedure
Home-page: https://facebook.github.io/prophet/
Author: Sean J. Taylor <sjtz@pm.me>, Ben Letham <bletham@fb.com>
Author-email: sjtz@pm.me
License: MIT
Location: c:\users\sanket\anaconda3\envs\fbprophet\lib\site-packages
Requires: cmdstanpy, convertdate, Cython, holidays, LunarCalendar, matplotlib, numpy, pandas, pystan, python-dateutil, setuptools-git, tqdm
Required-by:
Note: you may need to restart the kernel to use updated packages.

# 1. Import Libraries

In [8]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd
import plotly.express as px

mpl.rcParams['figure.figsize'] = (10, 8)
mpl.rcParams['axes.grid'] = False

from fbprophet import Prophet
from fbprophet.plot import add_changepoints_to_plot, plot_plotly
from fbprophet.diagnostics import cross_validation, performance_metrics

In [9]:
df = pd.read_csv('./Data/NYC_Energy_Consumption.csv')
df

                 timeStamp  demand  precip   temp
0      2012-01-01 01:00:00  4752.1  0.0000  45.89
1      2012-01-01 02:00:00  4542.6  0.0000  45.04
2      2012-01-01 03:00:00  4357.7  0.0000  45.03
3      2012-01-01 04:00:00  4275.5  0.0000  42.61
4      2012-01-01 05:00:00  4274.7  0.0000  39.02
...                    ...     ...     ...    ...
49199  2017-08-12 02:00:00     NaN  0.0000  70.84
49200  2017-08-12 03:00:00     NaN  0.0000  70.57
49201  2017-08-12 04:00:00     NaN  0.0000  69.89
49202  2017-08-12 05:00:00     NaN  0.0000  68.59
49203  2017-08-12 06:00:00     NaN  0.0031  67.33

[49204 rows x 4 columns]

In [ ]:
df['timeStamp']=pd.to_datetime(df['timeStamp'])